!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{charset: "utf-8"}/
    %title messages
    %link{:rel => "stylesheet"}/
    %link{href: "https://use.fontawesome.com/releases/v5.6.1/css/all.css", :rel => "stylesheet"}/
  %body
    = render partial: "sidebar"

    .main
      .main-top
        .main-top-name
          %h2.main-top-name__data{data: {id: @group.id}}
            = @group.name
          %p
            - @group.users.each do |user|
              %span
                = user.name
        .edit_btn
          = link_to "Edit", edit_group_path(@group), class: 'edit_btn_inside'
      .main-bottom
        .messages
          = render partial: 'message', collection: @messages

    %footer.footer
      = form_for [@group, @message], html:{id: "new_message"} do |f|
        = f.text_field :content, class: 'input-textarea', placeholder: 'type a message'
        = f.label :image, class: 'image-icon', for: "sample1" do
          %i.far.fa-image.fa-lg
          = f.file_field :image, class: 'hidden', id: "sample1"
        = f.submit 'Send', class: 'input-submit'