!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{charset: "utf-8"}/
    %title messages
    %link{:rel => "stylesheet"}/
    %link{href: "https://use.fontawesome.com/releases/v5.6.1/css/all.css", :rel => "stylesheet"}/
  %body
    = render partial: "sidebar"

    .main
      .main-top
        %h2.group_name 
          = @group.name
        %ul.member-lists
          %li.member-list 
            - @group.users.each do |user|
              = user.name
        %a{href: ""}
          .edit_btn Edit
      .main-bottom
        = render partial: 'message', collection: @messages

    %footer.footer
      = form_for [@group, @message], id: "new_message" do |f|
        = f.text_field :content, class: 'input-textarea', placeholder: 'type a message'
        = f.label :image, class: 'image-icon', for: "sample1" do
          %i.far.fa-image.fa-lg
          = f.file_field :image, class: 'hidden', id: "sample1"
        = f.submit 'Send', class: 'input-submit'